<div class="ui segment">
	<h1 class="ui header">Electron ToDo</h1>
</div>
<div class="ui compact segment" style="margin: 0 auto; width: 400px;">
	<h1 class="ui dividing header">{{header}}</h1>
	<div class="ui large relaxed list">
		<div class="item" ng-repeat="item in items" ng-class="{complete: item.complete}">
			<div class="right floated content" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false">
				<div class="ui large basic circular icon button" ng-hide="item.complete" ng-class="{green: item.hover}" ng-click="item.complete = true; saveItems();">
					<i class="check icon"></i>
				</div>
				<div class="ui large basic circular icon button" ng-show="item.complete" ng-class="{red: item.hover}" ng-click="item.complete = false; saveItems();">
					<i class="undo icon"></i>
				</div>
			</div>
			<div class="content">
				<div class="header">{{item.name}}</div>
				<div class="description">Created <abbr class="timeago" title="{{item.dateCreated}}"></abbr></div>
			</div>
		</div>
		<div class="item" style="cursor: pointer;" ng-hide="adding" ng-click="createItem()">
			<i class="middle aligned plus icon"></i>
			<div class="content">
				<div class="header">Add</div>
			</div>
		</div>
		<div class="item" ng-show="adding">
			<i class="large green middle aligned plus icon"></i>
			<div class="content">
				<div class="ui action input">
					<input id="itemName" type="text" ng-model="newItem" />
					<button class="ui green icon button" ng-click="submitItem()">
						<i class="large check icon"></i>
					</button>
					<button class="ui red icon button" ng-click="adding = false">
						<i class="large remove icon"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
